<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cryptography.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Cryptography.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>80F224F45DFA57365164FDA063387666</value>
            </setting>
            <setting name="iv" serializeAs="String">
                <value>90197D34559FD414B916A6EAD9B8DD63</value>
            </setting>
        </Cryptography.Properties.Settings>
    </userSettings>
</configuration>
